.mainHero{
    padding: .5rem;
    margin-block-start: .4rem;
    margin-inline: .4rem;
    height: fit-content;
}

.mainHero h3{
    font-weight: 400;
}

.planeBg{
    background-image: url("/hero_image.jpg");
    padding: .5rem;
    margin-block-start: .4rem;
    margin-inline: .4rem;
    border-radius: .7rem;
    height:37.5rem;
    width: 99%;
}