.input{
    display: flex;
    flex-direction: column;
    gap: .4rem;
}

.input select{
    width: fit-content;
    border: 1px solid grey;
    border-radius: .2rem;
    height: 26px;
    width: 140px;
}