.cardContainer{
    display: flex;
    flex-direction: row;
    padding-inline: 1rem;
    gap: 1.5rem;
    margin-block-start: 1.5rem;
    flex-wrap: wrap;
}

.cardContainer h3{
    font-size: 24px;
}